* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #000;
  font-family: "Courier New", Courier, monospace;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: aliceblue; }

.title {
  text-align: center;
  margin-top: 0; }

.logo {
  margin-top: 5vh;
  display: flex;
  justify-content: center; }

.settings {
  max-width: 1000px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 7px; }

.tempo-setting {
  height: 80px;
  border: solid 1px #bbb;
  border-radius: 5px;
  color: #fff;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center; }

.duration {
  border: solid 1px #bbb;
  border-radius: 5px;
  color: #fff;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center; }

input[type="number"] {
  width: 80px;
  height: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  background: #bbb;
  font-weight: bold; }

input[type="button"] {
  width: 100%;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background: transparent; }
  input[type="button"]:hover {
    background: rgba(51, 42, 212, 0.5);
    cursor: pointer; }

input[type="checkbox"]:hover {
  cursor: pointer; }

.play-button-container {
  line-height: 0;
  background: rgba(51, 42, 212, 0.5);
  border: 1px solid #bbb;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .play-button-container i {
    position: absolute;
    top: 35%;
    right: 31%;
    color: #fff;
    z-index: -1; }

.playback-options {
  padding: 10px;
  color: #fff;
  background: #444;
  border: 1px solid #bbb;
  border-radius: 5px;
  line-height: 0.9;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.cover {
  z-index: -1; }

.sound-select {
  background: #444;
  color: #fff;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sound-select select {
    background: #bbb;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    height: 20px; }

.website-info {
  position: absolute;
  top: 89vh;
  right: 20%;
  left: 20%;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa; }
  .website-info a {
    color: #aaa; }

.time-bar-display {
  display: flex;
  flex-wrap: wrap;
  height: 20px;
  align-items: center;
  padding: 5px;
  width: 1000px;
  margin: auto;
  grid-column: 1 / span 3; }
  .time-bar-display .time-bar-marker {
    width: 1%;
    height: 5px;
    margin-right: 1%;
    background: #75a1fa; }
