.settings {
  max-width: 95%;
  margin: auto;
  grid-template-columns: 1fr;
  grid-gap: 1; }

.tempo-setting,
.duration,
.sound-select,
.play-button-container,
.playback-options {
  height: 100px;
  border: none; }

.tempo-setting > *,
.duration > * {
  width: 40%; }

input[type="number"] {
  width: 100px;
  height: 40px; }

.time-bar-display {
  display: flex;
  flex-wrap: wrap;
  height: 20px;
  align-items: center;
  padding: 5px;
  width: 100%;
  margin: auto;
  grid-column: 1 / span 1;
  will-change: contents; }

.play-button-container i {
  top: 48%; }

.website-info {
  margin-top: 105px;
  color: #aaa;
  font-size: 16px;
  position: initial; }

.popout-btn {
  height: 70%; }

.playback-options div {
  height: 88%; }
