.settings {
  max-width: 95%;
  margin: auto;
  grid-template-columns: 1fr;
  grid-gap: 0; }

.tempo-setting,
.duration,
.sound-select,
.play-button-container,
.playback-options {
  height: 80px; }

.time-bar-display {
  display: flex;
  flex-wrap: wrap;
  height: 20px;
  align-items: center;
  padding: 5px;
  width: 350px;
  margin: auto;
  grid-column: 1 / span 1;
  will-change: contents; }

.website-info {
  top: 87vh; }
